.sidebar {
  width: 250px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.nav-link.active {
  background-color: #198754 !important;
}

.nav-link:hover {
  background-color: #157347 !important;
}