.sidebar {
  width: 250px;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.nav-link.active {
  background-color: #198754 !important;
}

.nav-link:hover {
  background-color: #157347 !important;
}

.sidebar ul ul {
  margin-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 10px;
}

.nav-link.active {
  background-color: #198754 !important;
}

.nav-link:hover {
  background-color: #157347 !important;
}